*{
    margin: 0;
    height: 0;
}

body{
    padding: 20px;
    font-family: sans-serif;
    /* border: 2px solid gold; */
    height: 1400px;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 50px; */
}

.mobile{
    display: none;
}

.heading{
    /* border: 2px solid tomato; */
    height: 300px;
    /* min-height: 100px; */
    /* padding: 20px; */
    margin: 30px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.title{
    margin-bottom: 100px;
}

.title h2{
    font-size: 40px;
}

.banner{
    margin-bottom: 90px;
}

.banner h1{
    font-size: 42px;
    font-weight: lighter;
    
}

.heading-buttons{
    height:50px;
    /* border: 2px solid green; */
    border-radius: 10px;
    display: flex;
    background: rgba(78, 78, 78, 0.2);
    padding: 5px;
    width: 400px;
    align-items: center;
}

.heading-buttons button{
    height: 45px;
    width: 50%;
    margin: 2px;
    border: 1px solid transparent;
    border-radius: 7px;
    font-size: 20.5px;
    font-weight: bolder;
}

.btn1{
    color: black;
    background: transparent;
    transition: all 0.5s ease;
    animation: coloir;
    animation-duration: 1s;
    animation-delay: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes coloir{
    0% {background: transparent;}
    100% {background: white;}
}


/* .btn1:hover .btn2{
    
} */

/* .btn2:hover{
    color: black;
    background: white;
} */

/* .btn2:hover .btn1{
    color: black;
    background: transparent;
} */

.btn2{
    color: black;
    background: transparent;

    
}

.btn2 a{
    text-decoration: none;
    color: black;
}

.free .annualbilling{
    color: transparent;
}




.gbasgbos{
    height: 950px;
    margin: 10px;
    /* border: 2px solid green; */
    padding: 20px 35px;
}


.packages-holder{
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90%;
    padding: 20px;
    opacity: 0;
    animation: opacer;
    animation-duration: 2s;
    animation-delay: 0.25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes opacer{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.package-holder{
    width: 21%;
    /* margin-left: 50px; */
    /* min-width: 250px; */
    height: 85%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 30px;
    /* padding-left: 20px; */
    /* justify-content: stretch; */
}

.package-holder h1, p, .priceholder, .annualbilling, .details-text-holder{
    margin-bottom: 45px;
    /* border: 2px solid red; */
}

.priceholder{
    margin-top: 40px;
    font-size: 30px;
    font-weight: bolder;
}

.priceholder i{
    font-size: 15px;
    font-weight: bolder;
    /* border: 2px solid tomato; */
    height: 20px;
    width: 7px;
    transform: translateY(-4px);
}

.download a{
    text-decoration: none;
    color: white;
}


.usage{
    margin-bottom:20px ;
}

.downloadfile{
    height: 50px;
    width: 220px;
    margin-right: 10px;
    padding: 10px 0 0 0;
    /* border: 2px solid tomato; */
    margin-bottom: 40px;
}

.downloadfile .download{
    height: 40px;
    width: 200px;
    padding: 5px ;
    font-size: 22px;
    font-weight: bolder;
    background: rgb(50, 50, 50);
    color: white;
    border: 2px solid transparent;
    transition: width 0.5s ease;
}

.download:hover{
    width: 220px;
}

.details-text-holder p i{
    width: 20px;
    height: 30px;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 25px;
    transform: translateY(3px);
    /* transform: translateX(-1px); */
}

/* .free, .platinum, .gold, .diamond{
    border: 2px solid tomato;
} */

.free .annualbilling h5{
    color: transparent;
}

.free .details-text-holder h1, .platinum .details-text-holder h1, .gold .details-text-holder h1, .diamond .details-text-holder h1{
    font-size: 20px;
    font-weight: bolder;
    color: black;
}

.free .details-text-holder h1{
    color: transparent;
}

.free{
    border-right: 2px solid black;
}

.platinum{
    padding-left: 20px;
    border-right: 2px solid black;
}

.gold{
    border-right: 2px solid black;
    padding-left: 20px;
}

.diamond{
    padding-left: 20px;
    width: 18%;
}

footer{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
}

