@media screen and (max-width: 700px) {
    .header {
        padding: 20px;
        text-align: center;
    }
    .header h2 {
        padding-bottom: 25px;
    }
    header .second-h2 {
        font-size: 15px;
        width: 60%;
        margin: 0 auto;
        /* border: 2px solid black; */
    }
    .header .first-button {
        width: 90%;

    }


}
@media screen and (max-width: 850px) {
    html section {
        flex-wrap: wrap;
        padding: 40px 10px;


    }
    section .first-div {
        width: 80%;

        border-right: transparent;



    }
    section .b, .c, .d {
        /* margin: 0 auto; */
        padding-top: 20px;
    }
    
    section h6 {
      font-size: 16px;
    }
    section .first-h6 {
        font-size: 17px;
    }
    section button {
        font-size: 16px;
    }
}
